.item {
  display: flex;
  justify-content: space-between;
}

.item__text {
  background-color: rgb(102, 174, 233);
  width: 520px;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 30px;
}

.item__text__done {
  background-color: rgb(26, 132, 245);
  text-decoration: line-through;
}

.p {
  padding: 1px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 7px;
}
